@model AngularRequireSignalR.Services.IChatRoomService
@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row">
        <ul class="list-inline">

            @foreach (var room in Model.ListRooms())
            {
                <li>
                    @Html.ActionLink(room, "Room", "Chat", new { roomName = room }, null)
                </li>
            }
        </ul>
    </div>
    <div class="row">
        @using (Html.BeginForm("Join", "Chat"))
        {
            <div class="input-group">
                <div class="input-group-addon">Create Room:</div>
                <input type="text" name="roomName" class="form-control">
                <button type="submit" class="btn btn-primary btn-xs">Join</button>
            </div>
        }
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/require")
    @Scripts.Render("~/bundles/app")
}
